<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SFModularization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD09092D1E63FEA2009B9A75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD0909461E63FEA2009B9A75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD0909511E63FEA2009B9A75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
